/* Root */
:root {
    --color01: #ffffff;
    --color02: #fafafa;
    --color03: #f1f1f1;
    --color04: #cccccc;
    --color05: #4f63d6;
    --color06: #3e54b9;
    --color07: #3eb99e;
    --color08: #1aa587;
    --color09: #313131;
}

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,500;8..144,600;8..144,800&display=swap');

/* Resets */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Roboto Flex', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

body, html {
    overflow: hidden;
    background-color: var(--color02);
    color: var(--color09); 
}

/* Text */
h1 {
    font-size: 1.4rem;
    font-weight: 600;
}

/* Grids */
.grids {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* ToDo */
.todo {
    background-color: var(--color02);
    height: 100vh;
    overflow: auto;
    padding: 2rem 0;
}

.todo .todo-header {
    margin-bottom: 1.7rem;
}

.todo .todo-list ul {
    list-style: none;
}

.todo .todo-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    transition: .4s;
    border-bottom: 1px solid var(--color03);
    overflow: hidden;
}

.todo .todo-list ul li:last-child {
    border: 0;
}

.todo .todo-list ul li:hover {
    background-color: #fff;
    box-shadow: 0 0 0.6rem 0 rgba(0,0,0,0.1);
    border-radius: 0.3rem;
}

.todo .todo-list ul li .todo-name {
    flex: 1;
    margin-left: 1.4rem;
    cursor: pointer;
}

.todo .todo-list ul li .todo-check ~ .todo-name span {
    position: relative;
    transition: .4s;
}

.todo .todo-list ul li .todo-check:checked ~ .todo-name span {
    color: var(--color04);
}

.todo .todo-list ul li .todo-check:checked ~ .todo-name span:before {
    width: 100%;
}

.todo .todo-list ul li .todo-check ~ .todo-name span:before {
    content: "";
    height: 0.125rem;
    background-color: var(--color04);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    transition: .4s;
}

.todo .todo-list ul li .todo-btn {
    border: 0;
    background-color: transparent;
    text-align: center;
    width: 1.6rem;
    height: 1.6rem;
    color: var(--color04);
    cursor: pointer;
    margin-left: 0.35rem;
    border-radius: 50%;
    transform: translate(300%);
    transition: .3s;
}

.todo .todo-list ul li:hover .todo-btn {
    transform: translate(0);
}

.todo .todo-list ul li .todo-btn:hover {
    transform: scale(1.25);
}

.theme-focus .todo .todo-list ul li .todo-btn.todo-play {
    background-color: var(--color05);
}

.theme-break .todo .todo-list ul li .todo-btn.todo-play {
    background-color: var(--color07);
}

.todo .todo-list ul li .todo-btn.todo-trash {
    background-color: var(--color09);
}

.todo .todo-list ul li .todo-btn svg {
    width: 0.65rem;
    fill: var(--color01)
}

.todo .todo-list ul li .todo-check {
    position: relative;
    cursor: pointer;
}

.todo .todo-list ul li .todo-check:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    top: -0.3rem;
    left: 0;
    background-color: var(--color03);
    border: 1px solid var(--color04);
    transition: .4s;
    border-radius: 0.3rem;
}

.todo .todo-list ul li .todo-check:checked:before {
    border-radius: 0.3rem;
}

.theme-focus .todo .todo-list ul li .todo-check:checked:before {
    background-color: var(--color05);
    border-color: var(--color06);
}

.theme-break .todo .todo-list ul li .todo-check:checked:before {
    background-color: var(--color07);
    border-color: var(--color08);
}

.todo .todo-list ul li .todo-check:checked:after {
    transform: rotate(45deg) scale(1);
    margin-top: 0;
}

.todo .todo-list ul li .todo-check:after {
    content: "";
    display: block;
    width: 0.3rem;
    height: 0.7rem;
    border: solid var(--color02);
    border-width: 0 0.15rem 0.15rem 0;
    transform: rotate(45deg) scale(0);
    position: absolute;
    left: 0.5rem;
    top: -0.1rem;
    transition: .2s;
    margin-top: 0.05rem;
}

.todo .todo-list ul li.animated .todo-check {
    animation: completeToDos 0.75s ease-in-out;
}

.todo .todo-list ul li.animated:nth-child(2n+2) .todo-check {
    animation-delay: 0.25s;
}

@keyframes completeToDos {
    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0);
    }
}

#todo-item-template {
    display: none;
}

.todo form#todo-add {
    margin-bottom: 0.7rem;
    display: flex;
    gap: 1rem;
}

/* Button */
.btn {
    border: 0;
    border-radius: 0.3rem;
    color: var(--color01);
    padding: 0.3rem 1rem;
    transition: .2s;
    cursor: pointer;
}

.btn.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

.theme-focus .btn {
    background-color: var(--color05);
}

.theme-break .btn {
    background-color: var(--color07);
}

.theme-focus .btn:not(:disabled):hover {
    background-color: var(--color06);
}

.theme-break .btn:not(:disabled):hover {
    background-color: var(--color08);
}

.btn:disabled {
    opacity: 0.75;
}

/* Input Text */
input[type="text"] {
    width: 100%;
    border: 1px solid var(--color04);
    border-radius: 0.3rem;
    padding: 0.65rem;
}

input[type="text"]:focus {
    outline: 0;
}

/* Pomodoro */
.pomodoro {
    background-color: var(--color03);
    padding: 2rem 0;
    height: 100vh;
    overflow: auto;
}

.pomodoro-header {
    margin-bottom: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.pomodoro-header .btn {
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.pomodoro-header .btn svg {
    fill: var(--color01);
    width: 1.1rem;
    height: 1.1rem;
}

.pomodoro-stopwatch {
    width: fit-content;
    min-width: 14rem;
    position: relative;
}

.theme-focus .pomodoro-timer {
    background-color: var(--color05);
}

.theme-break .pomodoro-timer {
    background-color: var(--color07);
}

.pomodoro-timer {
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    width: fit-content;
    color: var(--color01);
    width: 100%;
    text-align: center;
    transition: .2s;
}

.pomodoro-timer h1 {
    font-size: 8rem;
    line-height: 7.5rem;
    font-weight: 600;
    font-family: 'Roboto Flex', sans-serif;
}

.pomodoro-stages {
    margin-top: 0.5rem;
}

.pomodoro-stage {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 0.8rem;
    position: relative;
    overflow: hidden;
}

.pomodoro-stage span {
    font-size: 1.25rem;
    font-weight: 400;
}

.theme-focus .pomodoro-stage {
    border: 2px solid var(--color05);
    color: var(--color05);
}

.theme-break .pomodoro-stage {
    border: 2px solid var(--color07);
    color: var(--color08);
}

.pomodoro-stage svg {
    display: none;
}

.theme-focus .pomodoro-stage svg.icon-focus {
    fill: var(--color05);
    display: block;
}

.theme-break .pomodoro-stage svg.icon-break {
    fill: var(--color07);
    display: block;
}

.pomodoro-stage svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    opacity: 0.15;
    transition: .2s;
}

.pomodoro-stage:hover svg {
    width: 6rem;
}

.pomodoro-actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
}

.pomodoro-actions .btn {
    width: 100%;
}

.pomodoro-actions .btn svg {
    fill: var(--color01);
    width: 1.25rem;
    height: 1.25rem;
}

.pomodoro-actions .pomodoro-action-previous, .pomodoro-actions .pomodoro-action-next {
    width: 75%;
}

.pomodoro-actions .pomodoro-action-pause {
    display: none;
}

.pomodoro-actions .pomodoro-action-reset {
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.theme-focus .pomodoro-actions .pomodoro-action-reset {
    background-color: var(--color06);
    border: 2px solid var(--color06);
}

.theme-focus .pomodoro-actions .pomodoro-action-reset:hover {
    background-color: var(--color05);
}

.theme-break .pomodoro-actions .pomodoro-action-reset {
    background-color: var(--color08);
    border: 2px solid var(--color08);
}

.theme-break .pomodoro-actions .pomodoro-action-reset:hover {
    background-color: var(--color07);
}

.pomodoro-actions .pomodoro-action-reset svg {
    width: 1rem;
    height: 1rem;
}

.pomodoro-history {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 15px;
}

.pomodoro-history .pomodoro-history-item {
    background-color: var(--color01);
    border-radius: 0.3rem;
    padding: 1rem;
    min-width: 10rem;
}

.pomodoro-history-item p {
    color: var(--color09);
    opacity: 0.75;
    font-size: 0.8rem;
}

.pomodoro-history-item .pomodoro-history-timer {
    font-size: 26px;
    margin-top: 0.75rem;
}

.pomodoro-history-item .pomodoro-history-timer-focus {
    color: var(--color05);
    font-size: inherit;
}

.pomodoro-history-item .pomodoro-history-timer-break {
    color: var(--color07);
    font-size: inherit;
}

.pomodoro-history-timer hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    background-color: transparent;
    padding: 0;
    margin: 0.5rem 0;
}

#pomodoro-history-item-template {
    display: none;
}

/* Todo Progress */
.todo .todo-progress {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.todo .todo-progress .todo-progress-percentage {
    font-size: 0.75rem;
    width: 1.5rem;
}

.todo .todo-progress .todo-progress-bar {
    flex: 1;
    width: 100%;
    height: 0.4rem;
    background-color: var(--color04);
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.todo .todo-progress .todo-progress-bar span {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    transition: .2s;
    height: 100%;
    width: 0;
    display: block;
}

.theme-break .todo .todo-progress .todo-progress-bar span {
    background-color: var(--color07);
}

.theme-focus .todo .todo-progress .todo-progress-bar span {
    background-color: var(--color05);
}