/* Root */
:root {
    --color01: #ffffff;
    --color02: #fafafa;
    --color03: #f1f1f1;
    --color04: #cccccc;
    --color05: #4f63d6;
    --color06: #3e54b9;
    --color07: #313131;
}

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Resets */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
    background-color: var(--color02);
    color: var(--color07); 
}

/* Text */
h1 {
    font-size: 22px;
    font-weight: 600;
}

/* Grids */
.grids {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* ToDo */
.todo {
    background-color: var(--color02);
    height: 100vh;calc(100vh - 60px);
    overflow: auto;
    padding: 30px 0;
}

.todo .todo-list {
    margin-top: 25px;
}

.todo .todo-list ul {
    list-style: none;
}

.todo .todo-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: .4s;
    border-bottom: 1px solid var(--color03);
    overflow: hidden;
}

.todo .todo-list ul li:last-child {
    border: 0;
}

.todo .todo-list ul li:hover {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.todo .todo-list ul li .todo-name {
    flex: 1;
    margin-left: 15px;
    cursor: pointer;
}

.todo .todo-list ul li .todo-check ~ .todo-name span {
    position: relative;
    transition: .4s;
}

.todo .todo-list ul li .todo-check:checked ~ .todo-name span {
    color: var(--color04);
}

.todo .todo-list ul li .todo-check:checked ~ .todo-name span:before {
    width: 100%;
}

.todo .todo-list ul li .todo-check ~ .todo-name span:before {
    content: "";
    height: 2px;
    background-color: var(--color04);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    transition: .4s;
}

.todo .todo-list ul li .todo-btn {
    border: 0;
    background-color: transparent;
    padding: 5px 0;
    text-align: center;
    width: 25px;
    height: 25px;
    color: var(--color04);
    cursor: pointer;
    margin-left: 7px;
    border-radius: 50%;
    transform: translate(300%);
    transition: .3s;
}

.todo .todo-list ul li:hover .todo-btn {
    transform: translate(0);
}

.todo .todo-list ul li .todo-btn:hover {
    transform: scale(1.25);
}

.todo .todo-list ul li .todo-btn.todo-play {
    background-color: var(--color05);
}

.todo .todo-list ul li .todo-btn.todo-trash {
    background-color: var(--color07);
    padding: 6px 0;
}

.todo .todo-list ul li .todo-btn.todo-trash img {
    width: 13px;
}


.todo .todo-list ul li .todo-check {
    position: relative;
    cursor: pointer;
}

.todo .todo-list ul li .todo-check:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: 0;
    background-color: var(--color03);
    border: 1px solid var(--color04);
    transition: .4s;
}

.todo .todo-list ul li .todo-check:checked:before {
    background-color: var(--color05);
    border-color: var(--color07);
}

.todo .todo-list ul li .todo-check:checked:after {
    transform: rotate(45deg) scale(1);
    margin-top: 0;
}

.todo .todo-list ul li .todo-check:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--color02);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) scale(0);
    position: absolute;
    left: 7px;
    top: -2px;
    transition: .2s;
    margin-top: 3px;
}

#todo-item-template {
    display: none;
}

.todo form#todo-add {
    margin-bottom: 10px;
}

/* Input Text */
input[type="text"] {
    width: 100%;
    border: 1px solid var(--color04);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

input[type="text"]:focus {
    outline: 0;
}

/* Pomodoro */
.pomodoro {
    background-color: var(--color03);
    padding: 30px 0;
    height: 100vh;
    overflow: auto;
}