/* Root */
:root {
    --color01: #fafafa;
    --color02: #f1f1f1;
    --color03: #cccccc;
    --color04: #4f63d6;
    --color05: #3e54b9;
    --color06: #313131;
}

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Resets */
* {
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: var(--color01);
    color: var(--color06);
}

/* Text */
h1 {
    font-size: 22px;
    font-weight: 600;
}

/* Grids */
.grids {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* ToDo */
.todo {
    background-color: var(--color01);
    height: 100vh;
    overflow: auto;
    padding: 30px 0;
}

.todo .todo-list ul {
    list-style: none;
}

.todo .todo-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo .todo-list ul li .todo-name {
    flex: 1;
    margin-left: 15px;
    cursor: pointer;
}

.todo .todo-list ul li .todo-check ~ .todo-name span {
    position: relative;
    transition: .2s;
}

.todo .todo-list ul li .todo-check:checked ~ .todo-name span {
    color: var(--color03);
}

.todo .todo-list ul li .todo-check:checked ~ .todo-name span:before {
    width: 100%;
}

.todo .todo-list ul li .todo-check ~ .todo-name span:before {
    content: "";
    height: 2px;
    background-color: var(--color03);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    transition: .2s;
}

.todo .todo-list ul li .todo-btn {
    border: 0;
    background-color: transparent;
    padding: 0;
    width: 20px;
    height: 20px;
    color: var(--color03);
}

.todo .todo-list ul li .todo-btn img {
    opacity: 0.5;
}

.todo .todo-list ul li .todo-check {
    position: relative;
    cursor: pointer;
}

.todo .todo-list ul li .todo-check:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: 0;
    background-color: var(--color02);
    border: 1px solid var(--color03);
    transition: .2s;
}

.todo .todo-list ul li .todo-check:checked:before {
    background-color: var(--color04);
    border-color: var(--color05);
}

.todo .todo-list ul li .todo-check:checked:after {
    transform: rotate(45deg) scale(1);
    margin-top: 0;
}

.todo .todo-list ul li .todo-check:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--color01);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) scale(0);
    position: absolute;
    left: 7px;
    top: -2px;
    transition: .2s;
    margin-top: 3px;
}

/* Pomodoro */
.pomodoro {
    background-color: var(--color02);
    padding: 30px 0;
    height: 100vh;
    overflow: auto;
}