/* Root */
:root {
    --color01: #fafafa;
    --color02: #f1f1f1;
    --color03: #cccccc;
    --color04: #4f63d6;
    --color05: #3e54b9;
    --color06: #313131;
}

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Resets */
* {
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: var(--color01);
    color: var(--color06);
}

/* Text */
h1 {
    font-size: 24px;
    font-weight: 600;
}

/* Grids */
.grids {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* ToDo */
.todo {
    background-color: var(--color01);
    height: 100vh;
    overflow: auto;
    padding: 30px 0;
}

/* Pomodoro */
.pomodoro {
    background-color: var(--color02);
    padding: 30px 0;
    height: 100vh;
    overflow: auto;
}